
body{
	background-color: transparent;
}

#registro-form{
	max-width: 800px;
	margin: 120px auto;
}


#registro-form .padre{
	float:right;
	height: 550px;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: white;
}

#registro-form h1{
	margin-top: 30px;
	margin-bottom: 20px;
}

#registro-form .form-control{
	width: 90%;
	padding: 12px 20px;
	height: auto;
}

@media screen and (max-width: 700px){
	#registro-form .image{
		width: 30%;
	    background-position: 60%;
	}

	#registro-form .padre{
		width: 70%;
	}

	#registro-form .form-control{
		width: 100%;
	}
}

@media screen and (max-width: 500px){
	#registro-form .image{
		display: none;
	}

	#registro-form .padre{
		width: 100%;
	}

	#registro-form h1{
		text-align: center;
	}

	#registro-form .btn{
		width: 100%;
		margin-top: 10px;
	}
	
}